.rutina-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  padding-top: 0;
}

thead {
  background-color: gray;
}

tbody > tr > th {
  background-color: rgb(202, 202, 202);
  flex-direction: row;
}
