.rutina-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  padding-top: 0;
}

thead {
  background-color: gray;
}

tbody > tr > th {
  background-color: rgb(202, 202, 202);
  flex-direction: row;
}

input {
  width: 100%;
  max-width: 120px;
  box-sizing: border-box;
}
input[type="number"] {
  width: 100%;
  max-width: 50px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .rutina-container {
    max-width: 90%;
    align-items: center;
    text-align: center;
  }
  table {
    width: 90%;
    font-size: 0.9rem;
    padding: 0;
  }
  button {
    display: flex;
    align-items: center;
  }

  .inputs-pause{
    display: flex;
    justify-content: left;
    min-width: 40px;
  }
  .boton-descarga {
    margin: 12px;
  }

}
